<!-- Footer -->
<footer class="md-footer">

      <div style="display: flex; justify-content: space-between; align-items: center; font-size:1em;">
      <ul>
            <li><a href = "https://geo.btaa.org/feedback">Contact us</a></li>
            <li><a href = "https://btaa.org">BTAA Homepage</a></li>
      </ul>
      <div>

      <!-- Social links -->
      {% if config.extra.social %}
        {% include "partials/social.html" %}
      {% endif %}
    </div>
  </div>
</footer>
<!-- Footer -->
<footer class="md-footer">


