.md-header, .md-tabs, .md-tabs__item { 
  background-color: #0a4c7b;
}

.md-header__button.md-logo {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}


.md-nav__item--section > .md-nav__link[for] {
    color: inherit;
}

/* 
.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  height: 10%;
  width: 10%;
}
 */

.md-tabs__item{
  color: #ffffff;
  font-weight: bold;
}

.md-header__topic{
  font-size: 24px;
  font-weight: normal;
  }

 .md-banner a:link{
    color:#fff;
}

increase header size and fonts.md-header__topic  {
  font-size: 1.5em; 
  line-height: 2em;
  }

  .responsive-google-slides {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 Ratio */
    height: 0;
    overflow: hidden;
  }
  .responsive-google-slides iframe {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }